@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
/* components */
@import "components/status-bar.css";
@import "components/music.css";

/* screen */
@import "screens/btn.css";
@import "screens/musicList.css";
@import "screens/play-now.css";
@import "screens/play-time.css";
@import "screens/play-music.css";
* {
  box-sizing: border-box;
}

body {
  width: 100vh;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
}
.music-box {
  width: 35%;
  height: 80%;
  padding: 20px 20px;
  border-radius: 15px;
  border: none;
  background-color: white;
}
