.Book__title {
  font-size: 35px;
  padding: 20px 0px;
}
.Book__info {
  display: flex;
}
.Book__info--box {
  width: 100%;
  height: 100%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.Book__info__img {
  border-radius: 15px;
}
.Book__info__text {
  margin-bottom: 40px;
  margin-left: 35px;
}
.Book__info__text h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.Book__info__text span {
  opacity: 0.5;
}
.Book__info__btn {
  position: relative;
  top: -20px;
}
.Book__info__btn--box {
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  margin: 10px 0px;
}
.squre {
  padding: 10px 20px;
  border-radius: 10px;
}
.bookMark {
  position: relative;
  left: -10px;
  border-radius: 90%;
  width: 40px;
  height: 40px;
}
.BN {
  position: relative;
  right: -20px;
  padding: 10px 40px;
  background-color: black;
  color: white;
  font-size: 15px;
  border-radius: 10px;
}
